$mobile: 1000px;
$desktop: 1440px;

$p_orange: hsl(26, 100%, 55%);
$p_pale-orange: hsl(25, 100%, 94%);
$n_very-dark-blue: hsl(220, 13%, 13%);
$n_dark-grayish-blue: hsl(219, 9%, 45%);
$n_grayist-blue: hsl(220, 14%, 75%);
$n_light-grayish-blue: hsl(223, 64%, 98%);
$n_white: #fff;
$n_black: #000;

$font-size: 16px;

:root {
  font-size: $font-size;
}

body {
  padding: 30px 9vw;
  font-family: "Kumbh Sans";
  position: relative;
  overflow-x: hidden;

  @media (max-width: $mobile) {
    padding: 0;
  }
}

body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid $n_grayist-blue;
  position: relative;
  z-index: 1;
  background-color: $n_white;

  > nav {
    display: flex;
    align-items: inherit;
    gap: 0rem;

    .nav-items {
      display: flex;
      align-items: center;
      gap: clamp(0.3rem, 0.8vw, 1rem);
      list-style: none;

      .nav-item {
        text-decoration: none;
        color: $n_dark-grayish-blue;
        font-size: clamp(0.6rem, 2vw, 0.9rem);
        transform: all 0.2s ease-in-out;
        position: relative;

        &::after {
          width: 100%;
          height: 2px;
          background-color: $p_orange;
          content: "";
          display: block;
          position: absolute;
          bottom: -40px;
          border-radius: 10px;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }

    .toggle {
      display: none;
    }
  }

  section.functions {
    display: flex;
    gap: clamp(0.5rem, 2vw, 2rem);
    align-items: center;

    .shopping-cart svg {
      color: $n_grayist-blue;
      transition: color 0.2s ease-in-out,
        transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover {
        color: $n_very-dark-blue;
        transform: rotate(360deg);
      }

      &:active {
        transform: scale(90%);
      }
    }

    .user {
      width: 40px;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: all 0.2s linear;

      &:hover {
        border-color: $p_orange;
      }
    }
  }

  section.cart {
    position: absolute;
    top: 90%;
    right: -100%;
    width: 90vw;
    height: 350px;
    max-width: 400px;
    z-index: -1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
    background-color: $n_white;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    > * {
      padding: 20px;
    }

    h1 {
      font-size: 1rem;
      border-bottom: 1px solid $n_grayist-blue;
    }

    .cart-contents {
      width: 100%;
      height: 78.8%;

      &.state-empty {
        display: grid;
        place-items: center;
      }
    }

    &.active {
      right: 0;
    }
  }

  @media (max-width: $mobile) {
    padding: 20px;
    border: none;

    > nav {
      gap: 1rem;
      align-items: baseline;

      .main-logo {
        height: 5vw;
        max-height: 25px;
      }

      .toggle {
        display: block;
        content: "";
        width: 4vw;
        height: 4vw;
        max-height: 20px;
        max-width: 20px;
        background-image: url(../images/icon-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }

      .nav-items {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 70vw;
        padding: 100px 30px;
        background-color: $n_white;
        transition: all 0.5s ease-in-out;

        .nav-item {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      &.active {
        .toggle {
          background-image: url(../images/icon-close.svg);
        }

        .nav-items {
          left: 0;
          visibility: visible;
          opacity: 1;

          &::after {
            content: "";
            display: block;
            position: absolute;
            right: -30vw;
            top: 0;
            width: 30vw;
            height: 100vh;
            background-color: $n_black;
            opacity: 75%;
            visibility: visible;
          }
        }
      }
    }

    section.cart {
      height: 350px;
      top: -500%;
      left: 0;
      right: 0;
      margin: 0 auto;

      &.active {
        top: calc(100% + 5vw);
      }
    }
  }
}

body > main {
  // MOBILE
  section#main-image {
    .slide-wrapper {
      position: relative;
      overflow: hidden;

      .current-slide {
        display: none;
      }

      .slide-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 20px;
        height: 45px;
        width: 45px;
        display: grid;
        place-items: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &.slide-arrow-next {
          right: 0;
        }

        &.slide-arrow-prev {
          left: 0;
        }

        &:active {
          transform: scale(92.5%);
        }
      }

      .slide-container {
        width: 100vw;
        height: 400px;
        padding: unset;
        margin: unset;
        display: flex;
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;

        .slide {
          width: 100%;
          height: 100%;
          flex: 1 0 100%;
          display: flex;
          align-items: center;
          user-select: none;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  section.main-text {
    padding: 10px 20px;

    > * {
      margin: 10px 0;
    }

    .company-name {
      color: $p_orange;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }

    .product-name {
      font-size: clamp(1.9rem, 10vw, 2rem);
      line-height: 2.5rem;
    }

    .description {
      color: $n_dark-grayish-blue;
      margin-top: 20px;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 25px 0 20px;

      .after-discount {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .discount-percent {
        color: $p_orange;
        font-weight: 700;
        background-color: $p_pale-orange;
        display: grid;
        place-items: center;
        height: min-content;
        padding: 2px 6px;
        border-radius: 5px;
      }

      .before-discount {
        color: $n_grayist-blue;
        font-weight: 700;
        flex-grow: 3;
        text-align: right;
      }
    }

    .amount {
      position: relative;

      .select-amount {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        background-color: $n_light-grayish-blue;
        padding: 15px 0;
        color: $n_black;
      }

      .controller {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 15px;
        height: 20px;
        border: none;
        background-color: transparent;
        transition: opacity 0.2s ease-in-out;

        &.add-amount {
          right: 0;
        }

        &.minus-amount {
          left: 0;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .add-to-cart {
      width: 100%;
      padding: 15px 0;
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(0.5rem, 1vw, 1rem);
      background-color: $p_orange;
      color: white;
      font-size: clamp(0.8rem, 1.5vw, 1rem);
      font-weight: 700;
      transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        transform: scale(95%);
      }
    }
  }

  @media (min-width: $mobile) {
    margin-bottom: 40px;
    display: flex;
    gap: clamp(20px, 4vw, 80px);
    padding: clamp(20px, 4vw, 80px);

    section#main-image {
      .slide-wrapper {
        > button {
          display: none !important;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        .current-slide {
          display: block;
          width: 30vw;
          position: relative;

          img {
            border-radius: 10px;
            transition: opacity 0.3s ease-in-out;
          }

          &::after {
            content: "";
            background-image: url(../images/icon-view.svg);
            background-color: rgba(0, 0, 0, 0.44);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 25%;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            opacity: 0;
            transition: all 0.1s linear;
          }

          &:hover::after {
            opacity: 1;
          }
        }

        .slide-container {
          * {
            // this is too complicated so imma just rewrite it. stop yelling at me
            all: unset;
          }

          display: flex;
          justify-content: flex-start;
          flex-flow: nowrap;
          gap: 1rem;
          width: 30vw;
          height: 7vw;
          max-height: 102px;
          overflow-x: auto;
          // scrollbar-width: auto;
          // -ms-overflow-style: auto;
          list-style: none;

          .slide {
            all: unset;
            transition: opacity 0.2s ease-in-out, transform 0.2s linear;

            img {
              width: 7vw;
              max-width: 102px;
              border-radius: 10px;
            }

            &:hover {
              opacity: 0.5;
            }

            &.active {
              opacity: 0.3;
            }

            &:active {
              transform: scale(95%);
            }
          }
        }
      }
    }

    section.main-text {
      margin: 0;
      margin-top: clamp(0px, 0.5vw, 50px);
      padding: clamp(0px, 1.5vw, 25px);

      .product-name {
        font-size: 2.5rem;
        margin-bottom: 40px;
      }

      .price {
        display: block;

        .after-discount {
          display: inline;
        }

        .discount-percent {
          display: inline-block;
          margin-left: 1rem;
          transform: translateY(-10%);
          padding: 0 10px;
        }

        .before-discount {
          display: block;
          text-align: left;
        }
      }

      .functions {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 40px;

        .add-to-cart {
          margin: 0;
        }
      }
    }
  }
}

#main-lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; 
  background-color: rgba(0, 0, 0, 0.685);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

#main-lightbox .slide-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  #close-lightbox {
    content: '';
    background-image: url("../images/icon-close.svg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5%;
    right: 0;
    z-index: 500;
    color: white;
    transition: all 0.2s linear;
    &:hover {
      transform: rotate(360deg);
    }

    &:active {
      transform: scale(90%);
    }
  }

  .slide-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(0);
    height: 45px;
    width: 45px;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 10;

    &.slide-arrow-next {
      right: 0;
      transform: translateX(50%);
    }

    &.slide-arrow-prev {
      left: 0;
      transform: translateX(-50%);
    }

    & svg:hover {
      stroke: $p_orange;
    }
  }

  .current-slide {
    display: block;
    width: 33vw;
    position: relative;

    img {
      border-radius: 10px;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .slide-container {
    * {
      // this is too complicated so imma just rewrite it. stop yelling at me
      all: unset;
    }

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
    gap: 1rem;
    width: 30vw;
    height: 4vw;
    max-height: 102px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    // scrollbar-width: auto;
    // -ms-overflow-style: auto;
    list-style: none;

    .slide {
      all: unset;
      transition: opacity 0.2s ease-in-out, transform 0.2s linear;
      position: relative;
      border-radius: 10px;

      img {
        width: 4vw;
        max-width: 102px;
        border-radius: 10px;

      }

      &::before {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;
      } 

      &:hover::before {
        visibility: visible;
        opacity: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff59;
        z-index: 100;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      &.active::before {
        visibility: visible;
        opacity: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff91;
        z-index: 100;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      &:active {
        transform: scale(95%);
      }
    }
  }
}

#template {
  display: none;
}
